.photo-grid{
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: auto;
    gap: 16px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1200px) {
    .photo-grid{
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }    
}

@media screen and (max-width: 968px) {
    .photo-grid{
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
        margin: 0 auto 88px;
    }    
}

@media screen and (max-width: 740px) {
    .photo-grid{
        max-width: 288px;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        margin: 0 auto 64px;
    }    
}