.places{
    max-width: 984px;
    display: grid;
    gap: 80px 0;
    justify-self: center;
}

@media screen and (max-width: 1152px) {
    .places{
        max-width: 928px;
    }    
}

@media screen and (max-width: 896px) {
    .places{
       max-width: 720px;
    }    
}

@media screen and (max-width: 544px) {
    .places{
        max-width: 320px;
    }    
}