.places{
    max-width: 984px;
    display: grid;
    gap: 80px 0;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1152px) {
    .places{
        max-width: 928px;
    }    
}

@media screen and (max-width: 896px) {
    .places{
       max-width: 720px;
       margin: 0 auto 90px;
    }    
}

@media screen and (max-width: 730px) {
    .places{
        max-width: 320px;
        gap: 50px;
        margin: 0 auto 66px;
    }    
}