.place__image{
    max-width: 460px;
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 1152px) {
    .place__image{
      max-width: 440px;
    }    
}

@media screen and (max-width: 896px) {
    .place__image{
        max-width: 340px;
    }    
}

@media screen and (max-width: 544px) {
    .place__image{
        max-width: 320px;
        order: 3;
        grid-row: auto;
    }    
}