.header{
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 56px;
}

@media screen and (max-width: 800px) {
    .header{
        max-width: 720px;
        margin: 28px 24px 48px;
    }    
}

@media screen and (max-width: 345px) {
    .header{
        max-width: 288px;
        margin: 16px 16px 48px;
    }    
}