.header{
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

@media screen and (max-width: 1152px) {
    .header{
        max-width: 928px;
        margin: 0 0 48px;
    }    
}

@media screen and (max-width: 896px) {
    .header{
        max-width: 720px;
        margin: 0 24px 48px;
    }    
}

@media screen and (max-width: 544px) {
    .header{
        max-width: 288px;
        margin: 0 16px 48px;
    }    
}