.intro__text{
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin: 40px 0 33px;
}

@media screen and (max-width: 896px) {
    .intro__text{
        max-width: 720px;
    }    
}

@media screen and (max-width: 544px) {
    .intro__text{
        max-width: 288px;
    }    
}