.footer{
    max-width: 1184px;
    margin: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 864px) {
    .footer{
        max-width: 768px;
        margin: 88px 24px 24px;
    }    
}

@media screen and (max-width: 640px) {
    .footer{
        max-width: 186px;
        flex-direction: column;
        margin: 64px 0 24px 16px;
    }    
}